.categories {
    padding: 50px 0 70px;   /* side padding hata diya */
    width: 100%;
    overflow: hidden;  
    background:
  radial-gradient(circle at 30% 20%, rgba(193,18,31,0.18), transparent 60%), /* red glow */
  radial-gradient(circle at 80% 70%, rgba(15,37,68,0.25), transparent 60%), /* navy glow */
  linear-gradient(180deg, #0F2544, #0A0A0A);
}

.cat-wrapper {
  max-width: 1400px;   /* bada karo */
  margin: 0 auto;
  padding: 0 20px;     /* controlled spacing */
  position: relative;
}

.cat-container {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;   /* side padding remove */
}

.cat-container::-webkit-scrollbar {
  display: none;
}

/* arrows */
.cat-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  cursor: pointer;
  z-index: 2;
}

.left { left: 6px; }
.right { right: 6px; }

.cat-container > *:first-child {
  margin-left: 4px;
}

.cat-container > *:last-child {
  margin-right: 4px;
}

/*heading */

.cat-heading {
  text-align: center;
  margin-bottom: 40px;
}

.cat-heading h2 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #d8c27a;
}

.cat-heading p {
  font-size: 16px;
  color: #777;
}