/* HERO SECTION */
.hero{
    position:relative;
    height:88vh;
    width:100%;
    overflow:hidden;
}

/* VIDEO BACKGROUND */
.hero-video{
    position:absolute;
    top:50%;
    left:50%;
    min-width:100%;
    min-height:100%;
    transform:translate(-50%,-50%);
    object-fit:cover;
}

/* DARK SCIENTIFIC OVERLAY */
.hero-overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(
        to right,
        rgba(5,20,18,0.85),
        rgba(5,20,18,0.65),
        rgba(5,20,18,0.4)
    );
    z-index:1;
}

/* CONTENT */
.hero-content{
    position:relative;
    z-index:2;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:90px;
    color:white;
    max-width:700px;
}

/* TAG */
.hero-tag{
    letter-spacing:3px;
    font-size:12px;
    color:#7ed6a5;
    margin-bottom:20px;
}

/* HEADING */
.hero-content h1{
    font-size:54px;
    font-weight:600;
    line-height:1.15;
}

/* TEXT */
.hero-content p{
    margin-top:25px;
    font-size:18px;
    color:#d6e7df;
    line-height:1.6;
}

/* BUTTONS */
.hero-buttons{
    margin-top:35px;
}

.primary-btn{
    background:#7ed6a5;
    color:#07221c;
    border:none;
    padding:15px 28px;
    font-weight:600;
    margin-right:18px;
    cursor:pointer;
}

.secondary-btn{
    background:transparent;
    color:white;
    border:1px solid white;
    padding:15px 28px;
    cursor:pointer;
}

/* HOVER EFFECT */
.primary-btn:hover{
    background:#5fc592;
}

.secondary-btn:hover{
    background:white;
    color:#07221c;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.15;
  text-shadow: 0 6px 25px rgba(0,0,0,0.45);
}

.hero-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  line-height: 1.7;
  color: #e5f2ef;
}

