.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 60px;
  background:#0f2a25;
  color:white;
}

.logo{
  font-size:22px;
  font-weight:bold;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:28px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:15px;
}

.nav-links a:hover{
  color:#7ed6a5;
}

.nav-buttons button{
  margin-left:12px;
  padding:8px 16px;
  border:none;
  cursor:pointer;
}

.login{
  background:transparent;
  color:white;
  border:1px solid white;
}

.access{
  background:#7ed6a5;
  color:#0f2a25;
  font-weight:600;
}

.science-icon{
    width:42px;
    height:42px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    cursor:pointer;

    background:#d92323;
    color:white;
    font-size:20px;

    transition:0.3s;
}

.science-icon:hover{
    transform:scale(1.08);
    background:#b91c1c;
}
