/* PAGE */
.digital-page {
  width: 100%;
  min-height: 100vh;
  background: #f4f7ff;


   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

/* HERO */
.digital-hero {
  position: relative;
  height: 320px;
 /* background: url("/digital-bg.jpg") center/cover no-repeat;*/
 background: linear-gradient(135deg, #3f51b5, #5a55ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.digital-hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(20, 30, 60, 0.7);
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.hero-content h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.hero-content p {
  max-width: 600px;
  font-size: 16px;
}

/* CONTAINER */
.digital-container {
  padding: 40px 20px;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
 color: #1F2A44;
}

/* GRID */
.digital-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px; */

     display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* FIXED */
  gap: 30px; /* thoda balanced gap */
  padding: 40px;


    max-width: 1400px;
  margin: 0 auto; /* center */



}




/* 💻 Laptop */
@media (max-width: 1024px) {
  .digital-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 📱 Tablet */
@media (max-width: 768px) {
  .digital-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .section-title {
    font-size: 24px;
  }
}

/* 📱 Mobile */
@media (max-width: 480px) {
  .digital-grid {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
  }

  .section-title {
    font-size: 20px;
    margin-top: 30px;
  }
}







/* CARD */
.digital-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.digital-card:hover {
  transform: translateY(-10px);
}

/* IMAGE FIX (NO CUT 😍) */
.digital-img-box {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

.digital-img-box img {
  /* max-width: 100%;
  max-height: 100%;
  object-fit: contain; */
    /* width: 100%;
  height: 220px;
  object-fit: contain;
  background: #E5E6E8;
  padding: 10px; */

   width: 100%;
  height: 450px;
  /* object-fit: contain; */
  background: #E5E6E8;
  /* padding: 10px; */


}




/* CONTENT */
.digital-content {
  padding: 20px;
}

.digital-content h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #1F2A44;
}

.digital-content p {
  font-size: 14px;
  color: #1F2A44;
}

/* NO DATA */
.no-data {
  text-align: center;
  width: 100%;
  color: #999;
}

/* 🔥 RESPONSIVE */
@media (max-width: 768px) {

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .digital-hero {
    height: 250px;
  }

}


/* IMAGE HOVER */
.digital-img-box img {
  cursor: pointer;
  transition: 0.3s;
}

/* .digital-img-box img:hover {
  transform: scale(1.05);
} */










/* MODAL */
/* MODAL BACKGROUND */
.digital-img-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* padding: 15px; */
}

/* MODAL BOX */

.digital-modal-box {
  background: #fff;
  border-radius: 12px;
  max-width: 250px;
  width: 90%;
  /* padding: 15px; */
  text-align: center;
  animation: fadeIn 0.3s ease;

  margin-top: 100px;
}

/* IMAGE */
.digital-modal-box img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  /* border-radius: 8px; */
}

/* TEXT */
.digital-modal-box h2 {
  font-size: 18px;
  margin-top: 10px;
  color: #1F2A44;
}

.digital-modal-box p {
  font-size: 14px;
  color: #1F2A44;
  margin-top: 6px;
  line-height: 1.4;
  margin-bottom: 20px;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .digital-modal-box {
    max-width: 40%;
  }

  .digital-modal-box h2 {
    font-size: 16px;
  }

  .digital-modal-box p {
    font-size: 13px;
  }
}

/* 📱 SMALL MOBILE */
@media (max-width: 480px) {
  /* .digital-modal-box {
       padding: 10px;
  } */

  .digital-modal-box img {
    max-height: 200px;
  }

  .digital-modal-box h2 {
    font-size: 14px;
  }

  .digital-modal-box p {
    font-size: 12px;
  }
}
/* MOBILE */
@media (max-width: 768px) {
  .digital-img-modal img {
    max-width: 100%;
     max-height: 60%;
  /* border-radius: 10px; */
  object-fit: cover;
  /* margin-top: 100px;
  border: 3px solid white; */
  }
}





/* OVERLAY */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* BOX */
.modal-box {
  background: white;
  width: 90%;
  max-width: 350px;
  display: flex;
  flex-direction: column;   /* 🔥 MAIN CHANGE */
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  animation: popup 0.3s ease;

  margin-top: 150px;
}

/* LEFT */
.modal-left {
  width: 100%;
  height: 450px;
}

.modal-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-right {
  padding: 15px;
  background: #fff;
}

.modal-right h2 {
  font-size: 18px;
  margin-bottom: 8px;
    color: #1F2A44;
}

.modal-right p {
  font-size: 13px;
  color: #1F2A44;
}

.modal-right button {
  padding: 10px 20px;
  background: #ff2d55;
  color: white;
  border: none;
  cursor: pointer;
}


@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


/* 📱 MOBILE */
@media (max-width: 768px) {
  .modal-box {
    width: 85%;
    max-width: 350px;
  }

  .modal-left {
    height: 420px;
  }
  
  .modal-right h2 {
    font-size: 16px;
  }

  .modal-right p {
    font-size: 12px;
  }
}


/* ========================= */
/* 📱 TABLET RESPONSIVE */
/* ========================= */
@media  (max-width: 1024px) {
  
  .modal-box {
    width: 60%;              /* tablet pe balanced width */
    max-width: 300px;
    border-radius: 14px;
  }

  .modal-left {
    height: 260px;           /* image height control */
  }

  .modal-left img {
    object-fit: cover;
  }

  .modal-right {
    padding: 18px;
  }

  .modal-right h2 {
    font-size: 20px;
  }

  .modal-right p {
    font-size: 14px;
    line-height: 1.5;
  }
}

/* ========================= */
/* 📱 TABLET RESPONSIVE */
/* ========================= */
@media (max-width: 992px) {
  .modal-box {
    width: 85%;
    max-width: 300px;

      margin-top: 200px;
  
  }

   .modal-left {
    height: 350px;
  }
.modal-right {
  padding: 7px;
  background: #fff;
}


  .modal-right h2 {
    font-size: 16px;
  }

  .modal-right p {
    font-size: 12px;
  }

}

/* ========================= */
/* 📱 MOBILE RESPONSIVE */
/* ========================= */
/* @media (max-width: 768px) {
  .modal-box {
    flex-direction: column; /* ✅ column layout */
   /* width: 95%;
  /*  max-height: 90vh;
  }

  .modal-left {
    height: 200px;
  }

  .modal-left img {
    height: 100%;
  }

  .modal-right {
    padding: 15px;
    text-align: center;
  }

  .modal-right h2 {
    font-size: 18px;
  }

  .modal-right p {
    font-size: 13px;
  }

  .modal-right button {
    width: 100%;
  }
} */

/* ========================= */
/* 📱 SMALL MOBILE */
/* ========================= */
@media (max-width: 480px) {
  .modal-box {
    width: 85%;
    margin-top: 130px;
  }

  .modal-left {
    height: 350px;
  }

  .modal-right {
    padding: 10px;
  }
}








.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* 🔥 only 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;

  white-space: pre-line;   /* 🔥 enter support */
  word-break: break-word;
}

/* 🔥 EXPANDED */
.desc.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

/* BUTTON */
.view-btn {
  background: #ff6b81;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

.view-btn:hover {
  background: #ff4d6d;
}