/* PAGE BACKGROUND */
.loginPage{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg,#f6f7fb,#e9ecf5);
  font-family: 'Segoe UI', sans-serif;
}

/* MAIN BOX */
.loginContainer{
  display:flex;
  width:900px;
  height:500px;
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 20px 60px rgba(0,0,0,0.15);
}

/* IMAGE SIDE */
.loginImage{
  width:50%;
  background:#ddd;
}

.loginImage img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* CARD SIDE */
.loginCard{
  width:50%;
  padding:60px 50px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.loginCard h2{
  font-size:32px;
  margin-bottom:5px;
}

.subtitle{
  color:#777;
  margin-bottom:30px;
}

/* FORM */
.loginForm{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.loginForm input{
  padding:14px;
  border-radius:10px;
  border:1px solid #ddd;
  font-size:15px;
  transition:0.3s;
}

.loginForm input:focus{
  border-color:#6c63ff;
  outline:none;
  box-shadow:0 0 0 3px rgba(108,99,255,0.15);
}

/* BUTTON */
.login-btn {
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid #e11d2e;
  background: transparent;
  color: #e11d2e;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: #e11d2e;
  color: white;
}

