.preg-page {
  padding: 40px 20px;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.preg-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #2e7d32;
}

/* GRID */
.preg-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

/* 💻 Laptop */
@media (max-width: 1024px) {
  .preg-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 📱 Tablet */
@media (max-width: 768px) {
  .preg-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
}

/* 📱 Mobile */
@media (max-width: 480px) {
  .preg-grid {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 15px;
  }
}

/* CARD */
.preg-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.preg-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(46, 125, 50, 0.2);
}

/* IMAGE */
.preg-img-box {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preg-img-box img {
  width: 100%;
  height: 450px;
  background: #E5E6E8;
  cursor: pointer;
}

/* CONTENT */
.preg-content {
  background: #ffffff;
  padding: 15px;
}

.preg-content h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #1F2A44;
}

.preg-content p {
  font-size: 14px;
  color: #1F2A44;
  height: 40px;
  overflow: hidden;
}

/* BUTTON */
.view-btn {
  margin-top: 10px;
  background: #2e7d32;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

/* EMPTY */
.no-data {
  text-align: center;
  color: gray;
}