.ba-container {
  width: 100%;
  max-width: 900px;
  margin: 60px auto;
  padding: 10px;
  border-radius: 10px;
  padding: 20;
  
 
}



.ba-image-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  
}

.ba-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.ba-after {
  transition: 0.1s;
  
}

.ba-slider {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  cursor: pointer;
  background: black;
}
