
/* ================= FOOTER CSS ================= */

/* paste below in Footer.css */

.footer{
  background:#ffffff;
  border-top:1px solid #eee;
  margin-top:20px;
}

.footer-top{
  max-width:1200px;
  margin:auto;
  padding:25px 20px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:200px;
}

.footer-logo{
  color:#e11d2e;
  margin-bottom:12px;
}

.footer-text{
  color:#555;
  line-height:1.6;
}

.footer-col h3{
  margin-bottom:14px;
  color:#222;
}

.footer-col ul{
  list-style:none;
  padding:0;
}

.footer-col li{
  margin-bottom:10px;
  color:#555;
  cursor:pointer;
  transition:.3s;
}

.footer-col li:hover{
  color:#e11d2e;
  transform:translateX(3px);
}

.socials span{
  display:inline-block;
  margin-right:14px;
  color:#555;
  cursor:pointer;
  transition:.3s;
}

.socials span:hover{
  color:#e11d2e;
}

.footer-bottom{
  border-top:1px solid #eee;
  text-align:center;
  padding:18px;
  color:#777;
  font-size:14px;
}

@media(max-width:900px){
  .footer-top{
    grid-template-columns:repeat(2,1fr);
    gap:30px;
  }
}

@media(max-width:500px){
  .footer-top{
    grid-template-columns:1fr;
    text-align:center;
  }
}
