.hero {
  padding: 0px;
  background: #f2efe9;
}

/* Container */
.hero-container {
  position: relative;
  width: 100%;
  height: 520px;
  border-radius: 30px;
  overflow: hidden;
}

/* Real Image (magic part) */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain;   /* NEVER crop */
  background: #2b2b2b;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* Text */
.hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.hero-content h1 {
  font-size: 38px;
  max-width: 900px;
  line-height: 1.4;
}

.contact-btn {
  margin-top: 30px;
  padding: 14px 40px;
  background: #b53312;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
