/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  padding: 15px 40px;
}

/* MAIN ROW */
.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT - LOGO */
.nav-left img {
  height: 70px;
}

/* CENTER - SEARCH */
.search-container {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 30px;
  height: 42px;
  width: 280px;
  padding: 0 15px;
  transition: 0.3s;
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  margin-left: 10px;
}

/* RIGHT - ICONS + LOGIN */
.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 18px;
}

.username {
  font-weight: 500;
}

/* LOGIN BUTTON */
.login-btn {
  padding: 8px 20px;
  border-radius: 25px;
  border: 2px solid #e11d2e;
  background: transparent;
  color: #e11d2e;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #e11d2e;
  color: white;
}


/* ===== MENU BAR ===== */
.menubar{
  display:flex;
  align-items:center;
  padding:12px 40px;
  border-top:1px solid #eee;
  gap:40px;
}



/* MENU CENTER */
.menu-links{
  display:flex;
  gap:34px;
  flex:1;
  justify-content:center;
}

.menu-links a{
  text-decoration:none;
  color:#222;
  font-weight:500;
  white-space:nowrap;
  position:relative;
}

.menu-links a.active{
  color:#e11d2e;
}

.menu-links a.active::after{
  content:"";
  position:absolute;
  width:100%;
  height:2px;
  background:#e11d2e;
  bottom:-8px;
  left:0;
}

/* DROPDOWN */
.dropdown{
  position:relative;
}

.nav-link{
  cursor:pointer;
  font-weight:500;
}

/* hidden by default */
.dropdown-menu{
  position:absolute;
  top:40px;
  left:0;
  background:white;
  min-width:240px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
  padding:10px 0;
  opacity:0;
  visibility:hidden;
  transform:translateY(10px);
  transition:.3s;
  z-index:999;
}

/* show on hover */
.dropdown:hover .dropdown-menu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

/* links */
.dropdown-menu a{
  display:block;
  padding:14px 20px;
  text-decoration:none;
  color:#333;
  transition:.2s;
}

.dropdown-menu a:hover{
  background:#f3f6f7;
  padding-left:26px;
  color:#0f2f33;
}
